html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: #282829;
  font-family: "Arial";
  /* font-family: 'Courier New', Courier, monospace; */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* glob */

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 20px;
}

/* fonts */

@font-face {
  font-family: "Prata";
  src: local("Prata-Regular"),
    url("./assets/fonts/Prata-Regular.woff2") format("woff2"),
    url("./assets/fonts/Prata-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* header */

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent;
  z-index: 10;
  transition: background-color 0.3s ease-in-out;
}

.header--scrolled {
  background-color: #000000;
}

.header__wrapper {
  padding: 20px 0 20px 185px;
  display: flex;
  align-items: center;
}

.header__logo {
  display: inline-block;
  max-width: 250px;
  margin-right: 245px;
  font-family: "Prata";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 150%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  word-break: break-all;
  transition: opacity 0.3s ease-in-out, color 0.3s ease-in-out;
}

.header__logo:hover {
  opacity: 0.7;
  color: #efcfad;
}

.header__list {
  display: flex;
  column-gap: 29px;
}

.header__link {
  font-family: "Arial";
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
  transition: opacity 0.3s ease-in-out, color 0.3s ease-in-out;
}

.header__link:hover {
  opacity: 0.7;
  color: #efcfad;
}

/* hero */
.main {
  position: relative;
}
.hero {
  margin-bottom: 100px;
}

.hero__wrapper {
  padding-left: 180px;
  display: flex;
}

.hero__content {
  padding-top: 250px;
  padding-bottom: 50px;
  width: 55%;
}

.hero__image {
  width: 45%;
  background-image: url("./assets/image/hero-img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__title {
  margin: 0;
  margin-bottom: 50px;
  max-width: 1305px;
  font-family: "Prata";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 120%;
  color: #ffffff;
  word-break: break-all;
}

.hero__subtitle {
  display: block;
  margin-bottom: 64px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 120%;
  color: #ffffff;
  word-break: break-all;
}

.hero__list {
  display: flex;
  flex-direction: column;
  row-gap: 35px;
  margin-bottom: 40px;
}

.hero__item {
  display: flex;
  align-items: center;
  column-gap: 17px;
}

.hero__item-txt {
  display: flex;
  align-items: center;
  column-gap: 15px;
  margin: 0;
  max-width: 800px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 110%;
  color: #ffffff;
  word-break: normal;
}

.hero__item-txt em {
  max-width: 800px;
  font-family: "Prata";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero__btn {
  padding: 32px 50px;
  background-color: #ffffff;
  border-radius: 4px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #222222;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}

.hero__btn:hover {
  opacity: 0.7;
}

/* advantages */

.advantages {
  margin-bottom: 100px;
}

.advantages__wrapper {
  display: flex;
}

.advantages__content {
  max-width: 720px;
  padding: 53px 53px 0 53px;
  text-align: center;
}

.advantages__image-1 {
  width: 33%;
  background-image: url("./assets/image/advantages-bg-1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.advantages__image-2 {
  width: 33%;
  background-image: url("./assets/image/advantages-bg-2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.advantages__list {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  margin-bottom: 80px;
}

.advantages__item {
  display: flex;
  column-gap: 20px;
  padding-bottom: 20px;
}

.advantages__item:not(:last-child) {
  border-bottom: 1px solid #55565a;
}

.advantages__txt {
  margin: 0;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: #ffffff;
  text-align: left;
}

.advantages__btn {
  width: 100%;
  padding: 32px 0;
  background-color: #ffffff;
  border-radius: 4px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #282829;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}

.advantages__btn:hover {
  opacity: 0.7;
}
